* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
h3 {
    text-align: center;
}

h1 {
    color:rgb(42, 99, 204);
}

h2,
h3 {
    background-color: rgb(102, 102, 241);
    color: aliceblue;
}

h4,
b.measurement {
    color:rgb(42, 99, 204);
}

b.amount {
    color: rgb(142, 56, 240);
    font-weight: 1000;
}

b.measurement{
    font-weight: 700;
}

.return-home-button {
    text-align: center;
    font-weight: 800;
    font-size: 10px;
}

.recipes li {
    text-align: center;
    color:rgb(102, 102, 241);
    font-weight: 800;
}